<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchProductCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.phonehub.product.ctrl.SearchProductCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowProductDetailCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.phonehub.product.ctrl.ShowProductDetailCtrl</servlet-class>
  </servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowOrderCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.phonehub.order.ctrl.ShowOrderCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CommitOrderCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.phonehub.order.ctrl.CommitOrderCtrl</servlet-class>
  </servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateStoreCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.phonehub.store.ctrl.CreateStoreCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddProductCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.phonehub.store.ctrl.AddProductCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AlterCountCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.phonehub.store.ctrl.AlterCountCtrl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteProductCtrl</servlet-name>
    <servlet-class>cn.edu.zhku.phonehub.store.ctrl.DeleteProductCtrl</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>cn.edu.zhku.phonehub.user.ctrl.RegisterCtrl</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>cn.edu.zhku.phonehub.user.ctrl.LoginCtrl</servlet-class>
  </servlet>
 
   <servlet>
    <servlet-name>userctrl</servlet-name>
    <servlet-class>cn.edu.zhku.phonehub.user.ctrl.UserCtrl</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>DelCart</servlet-name>
    <servlet-class>cn.edu.zhku.phonehub.cart.ctrl.DelCart</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>addtocart</servlet-name>
    <servlet-class>cn.edu.zhku.phonehub.cart.ctrl.AddToCart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeCart</servlet-name>
    <servlet-class>cn.edu.zhku.phonehub.cart.ctrl.DecreaseCart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PlusCart</servlet-name>
    <servlet-class>cn.edu.zhku.phonehub.cart.ctrl.PlusCart</servlet-class>
  </servlet>


	<servlet-mapping>
    <servlet-name>CreateStoreCtrl</servlet-name>
    <url-pattern>/servlet/CreateStoreCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterCountCtrl</servlet-name>
    <url-pattern>/servlet/AlterCountCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteProductCtrl</servlet-name>
    <url-pattern>/servlet/DeleteProductCtrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/user/servlet/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/user/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addtocart</servlet-name>
    <url-pattern>/cart/addtocart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelCart</servlet-name>
    <url-pattern>/cart/DelCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeCart</servlet-name>
    <url-pattern>/cart/DeCart</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>PlusCart</servlet-name>
    <url-pattern>/cart/PlusCart</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>userctrl</servlet-name>
    <url-pattern>/user/ModifyCtrl</url-pattern>
  </servlet-mapping>


</web-app>
 
